<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tokimon</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "stylesheets/Tokimon.css" />
</head>
<body class="cover">
<script src="javascript/Tokimon.js"></script>
<h1 class="bighead">Tokimon</h1>
<div class = "cover">
<button class="official" id="official">
<p><a href="/official"></a>Go to official site</p>   
</button>
<div>
</body>

</html>