<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tokimon</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "stylesheets/Tokimon.css" />
</head>
<body class="cover">
<script src="javascript/Tokimon.js"></script>
<h1>Tokimon</h1>

<button class="add" id="add">
<p><a href="/add"></a>Add tokimon</p>   
</button>

<!-- <button class="delete" id="delete">
<p>Delete tokimon</p>   
</button> -->



</body>